{% extends 'base.html' %}
{% load static %}

{% block content  %}
    <div class="personal-details">
        <img  class="profile-image" src="{% static 'empty_profile.png' %}" alt="Profile">
        <a target="_blank" style="margin-bottom: 1%;"  href="https://docs.google.com/document/d/1g13do0OphstCdMU8DYYK6MLNDQkBLL95/edit?usp=sharing&ouid=106088377866014831165&rtpof=true&sd=true">Resume</a>
        <div class="personal-description">
            <p>I am a Research Associate at <a target="_blank" href="https://africa.cmu.edu">Carnegie Mellon University</a> Africa, Junior Lecturer at the <a target="_blank" href="https://uok.ac.rw/">University of Kigali</a> , and a dedicated Software Engineer. </p>
            <p>I possess a Master's Degree in Information Technology from <a target="_blank" href="https://africa.cmu.edu">Carnegie Mellon University</a> Africa.</p>
            <p>As a S\W Engineer and Researcher, I have contributed to a substantial number of projects, including <a href="/projects">Twis</a>, <a href="/projects">Stalgia</a>, and <a href="/projects">Open Data Portal</a> etc. Additionally, I have conducted research in the domains of Information Security and Privacy Policy. <small> <a href="/projects">You can check my work here</a> </small> </p>
            <p>I like cycling and jogging.</p>
        </div>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, sint. Veritatis nemo et nisi consequuntur minus dicta fugiat eveniet necessitatibus soluta cum pariatur, voluptatibus laudantium distinctio illo nam. Doloremque natus numquam vel minus dolorum et, eos, blanditiis quisquam totam eveniet reiciendis nulla at earum officia debitis voluptatem nostrum accusantium ratione tempora asperiores magni, error labore. Sit, adipisci ipsa nesciunt quibusdam voluptates vel minima voluptatum atque, dicta fuga corporis expedita sed enim dolor a asperiores deserunt molestiae sint facilis odit. Perferendis eveniet maxime numquam illum. Suscipit quibusdam sed ipsam voluptatem, quia iusto, hic, sunt delectus corrupti modi laboriosam odit! Dignissimos, accusantium.</p> -->
    </div>
{% endblock %}