{% extends 'base.html' %}


{% block content  %}
    <div class="projects-details">
        <div class="projects-description">
            <h4>Publications</h4>
            <ul>
                <li>
                    <a href="https://ieeexplore.ieee.org/document/10293606">Effective Mitigation Strategies for Social Engineering Attacks in Mobile Money Services: A Case Study in Kenya </a>
                    <p><small>This paper explores the challenges posed by social engineering attacks in Mobile Money services, particularly in sub-Saharan Africa, with a focus on vishing, smishing, and phishing, aiming to assess and propose effective mitigation strategies for financial institutions...</small></p>
                </li>
                 <li>
                    <a href="https://www.researchgate.net/publication/366917098_Robots_and_Privacy">Robots and Privacy</a>
                    <p><small>The paper discusses the pervasive presence of robots in various sectors, emphasizing the privacy concerns arising from their extensive surveillance capabilities, highlighting issues such as lack of consent in data collection, potential spying by robots, and the unauthorized sale of user data by some companies to third parties.</small></p>
                </li>
            </ul>
            
        </div>
        <div class="projects-description">
            <h4>Blog posts</h4>
            <ul>
                <li>
                    <a href="https://www.africa.engineering.cmu.edu/news/2024/01/25-open-data.html">A centralized data portal about Africa</a>
                    <p><small>The Open Data Portal, a web-based platform launched in August 2023, aiming to simplify the discovery and exploration of diverse datasets about the African continent, encompassing areas such as educational outcomes and population density.</small></p>
                </li>
            </ul>
        </div>
        <div class="projects-description">
            <h4>Projects</h4>
            <ul>
                <li><a target="_blank" href="https://twitter.com/thestalgiaapp">Stalgia (Memories sharing app) - Scrum Launch</a></li>
                <li><a target="_blank" href="https://twis.co.rw/">Twis (A mobile application E-library for primary students.) - Twis</a></li>
                <li><a target="_blank" href="https://data.africa.cmu.edu">Open Data Portal - CMU Africa</a></li>
            </ul>
        
        </div>
        <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, sint. Veritatis nemo et nisi consequuntur minus dicta fugiat eveniet necessitatibus soluta cum pariatur, voluptatibus laudantium distinctio illo nam. Doloremque natus numquam vel minus dolorum et, eos, blanditiis quisquam totam eveniet reiciendis nulla at earum officia debitis voluptatem nostrum accusantium ratione tempora asperiores magni, error labore. Sit, adipisci ipsa nesciunt quibusdam voluptates vel minima voluptatum atque, dicta fuga corporis expedita sed enim dolor a asperiores deserunt molestiae sint facilis odit. Perferendis eveniet maxime numquam illum. Suscipit quibusdam sed ipsam voluptatem, quia iusto, hic, sunt delectus corrupti modi laboriosam odit! Dignissimos, accusantium.</p> -->
    </div>
{% endblock %}